---
// ヒートマップのラッパー（画面幅で Desktop / Mobile を出し分け）
const { exerciseData, bookData, outputData } = Astro.props;
import DesktopHeatmap from "./heatmap/DesktopHeatmap.astro";
import MobileHeatmap from "./heatmap/MobileHeatmap.astro";
---

<div class="hidden md:block">
  <DesktopHeatmap
    exerciseData={exerciseData}
    bookData={bookData}
    outputData={outputData}
  />
</div>
<div class="block md:hidden">
  <MobileHeatmap
    exerciseData={exerciseData}
    bookData={bookData}
    outputData={outputData}
  />
</div>
